
<!DOCTYPE html>
<html>
<head>
	<% include elements/header %>
</head>
<body>
	<%
		let email = '';
		let pass = '';
		if(errors.length >0){
			errors.forEach((error, index)=>{
				(error.param ==="email")?    email = error.msg : '';				
				(error.param ==="password")? pass  = error.msg : '';
			}) 
		}
		<!-- console.log("diep: "+ systemConfig.prefixAdmin) -->
	%>

    <div class="container">		
		<div class="row ">
			<div class="col-xs-12 col-sm-6 col-md-4" ></div>
			<div class="col-xs-12 col-sm-6 col-md-4 fixed" >				
				<form action="<%= systemConfig.prefixAdmin %>/submit" method="POST" class="fixed" >
					<div class="form-group">
						<label class="col-form-label">Email</label>
						<input type="email" name="email" class="form-control" id="inputEmail3" placeholder="Email" value="<%=item.email%>">						
						<small id="emailHelp" class="form-text text-muted " style="color:blue" ><%=email %></small>	
					</div>
					<div class="form-group">
						<label for="inputPassword3" class="col-form-label">Password</label>
						<input type="password" name="password" class="form-control" id="inputPassword3" placeholder="Password" >
						<small id="emailHelp" class="form-text text-muted"  style="color:blue"><%=pass %></small>
					</div>
					<button type="submit" class="btn btn-primary">Sign in</button>					
				</form>
				
			</div>
			<div class="col-xs-12 col-sm-6 col-md-4" ></div>
		</div>
    </div>
<% include elements/scripts %>
</body>
</html>